.attribution {
      font-size: 10px;
      text-align: center; 
}
.attribution a {
      color: hsl(228, 45%, 44%);
}
body{
     background-color: hsl(217, 54%, 11%);
     font-family: 'Outfit', sans-serif;
     font-size: 15px;
}
h2,span{
     color: hsl(0, 0%, 100%);
}
.image{
     width: 280px;
     border-radius: 5px;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
span:hover,h2:hover{
     color: hsl(178, 100%, 50%);
}
.square{
     width: 280px;
     height: 280px;
     background-color: hsl(178, 100%, 50%);
     position: absolute;
     border-radius: 5px;
     opacity: 0;
}
.square:hover{
     opacity: 0.5;
}
.square img{
     color: hsl(0, 0%, 100%);
     margin-top: 42.5%;
     margin-left: 42.5%;
}
p{
     color: hsl(215, 51%, 70%);
}
.ethereum{
     color: hsl(178, 100%, 50%);
}
hr{
     border-style: solid none none;
     color: hsl(215, 51%, 70%);
}
.box{
     margin-top: 100px;
     margin-left: auto;
     margin-right: auto;
     width: 280px;
     border-radius: 5px;
     background-color: hsl(216, 50%, 16%);
     text-align: left;
     padding: 20px;
}
.resize{
     width: 25px;
     height: 25px;
     border: 1px solid white;
     border-radius: 50%;
     margin-right: 15px;
     margin-top: 15px;
}
.created-by{
     display: flex;
     flex-direction: row;
}
.statics{
     display: flex;
     flex-direction: row;
}
.clock-css{
     width: 25px;
     height: 25px;
     margin-right: 15px;
     margin-left: 70px;
     margin-top: 15px;
}
.ethereum-css{
     width: auto;
     height: 25px;
     margin-right: 15px;
     margin-top: 15px;
}
